<!--COLORS-PAGE-->
<template id="colors">
    <!--header row-->
    <div class="row pb-50">
        <header class="col-12 style-guide-header">
            <h1>General Color Palette</h1>
        </header>
    </div>
    <!--header row end-->

    <!--general colors row-->
    <div class="row" id="general-colors-section">

        <!--col-4-->
        <div class="col-12 col-md-12 col-lg-4">
            <h2>General Colors</h2>
        </div>
        <!--col-4 end-->

        <!--col-8-->
        <div class="col-12 col-md-12 col-lg-8">
            <div class="row">

                <!--NIGHT col-->
                <div class="col-12 col-md-6 col-lg-3">
                    <!--color-block-->
                    <div class="color-block bg-night">
                        &nbsp;
                    </div>
                    <!--color-block end-->

                    <h4>Night</h4>

                    <p>
                        <span class="text-uppercase asphalt">hex: #1f435b</span> <br>
                        <span class="text-uppercase asphalt">rgb: (31, 67, 91)</span> <br>
                    </p>
                </div>
                <!--NIGHT col end-->

                <!--STONE col-->
                <div class="col-12 col-md-6 col-lg-3">
                    <!--color-block-->
                    <div class="color-block bg-stone">
                        &nbsp;
                    </div>
                    <!--color-block end-->

                    <h4>Stone</h4>

                    <p>
                        <span class="text-uppercase asphalt">hex: #3f6075</span> <br>
                        <span class="text-uppercase asphalt">rgb: (63, 96, 117)</span> <br>
                    </p>
                </div>
                <!--STONE col end-->

                <!--OCEAN col-->
                <div class="col-12 col-md-6 col-lg-3">
                    <!--color-block-->
                    <div class="color-block bg-ocean">
                        &nbsp;
                    </div>
                    <!--color-block end-->

                    <h4>Ocean</h4>

                    <p>
                        <span class="text-uppercase asphalt">hex: #388cc4</span> <br>
                        <span class="text-uppercase asphalt">rgb: (56, 140, 196)</span> <br>
                    </p>
                </div>
                <!--OCEAN col end-->

                <!--SKY col-->
                <div class="col-12 col-md-6 col-lg-3">
                    <!--color-block-->
                    <div class="color-block bg-sky">
                        &nbsp;
                    </div>
                    <!--color-block end-->

                    <h4>Sky</h4>

                    <p>
                        <span class="text-uppercase asphalt">hex: #78bde8</span> <br>
                        <span class="text-uppercase asphalt">rgba: (120, 189, 232)</span> <br>
                    </p>
                </div>
                <!--SKY col end-->
            </div>

            <div class="row">

                <!--ASPHALT col-->
                <div class="col-12 col-md-6 col-lg-3">
                    <!--color-block-->
                    <div class="color-block bg-asphalt">
                        &nbsp;
                    </div>
                    <!--color-block end-->

                    <h4>Asphalt</h4>

                    <p class="mb-0">
                        <span class="text-uppercase asphalt">hex: #79a6c4</span> <br>
                        <span class="text-uppercase asphalt">rgb: (121, 166, 196)</span> <br>
                    </p>
                </div>
                <!--ASPHALT col end-->

                <!--MIST col-->
                <div class="col-12 col-md-6 col-lg-3">
                    <!--color-block-->
                    <div class="color-block bg-stone">
                        &nbsp;
                    </div>
                    <!--color-block end-->

                    <h4>Mist</h4>

                    <p class="mb-0">
                        <span class="text-uppercase asphalt">hex: #afc6d6</span> <br>
                        <span class="text-uppercase asphalt">rgb: (175, 198, 214) </span> <br>
                    </p>
                </div>
                <!--MIST col end-->

                <!--AIR col-->
                <div class="col-12 col-md-6 col-lg-3">
                    <!--color-block-->
                    <div class="color-block bg-air">
                        &nbsp;
                    </div>
                    <!--color-block end-->

                    <h4>Air</h4>

                    <p class="mb-0">
                        <span class="text-uppercase asphalt">hex: #e4eff5</span> <br>
                        <span class="text-uppercase asphalt">rgb: (228, 239, 245)</span> <br>
                    </p>
                </div>
                <!--AIR col end-->

                <!--WHITE col-->
                <div class="col-12 col-md-6 col-lg-3">
                    <!--color-block-->
                    <div class="color-block bg-white border">
                        &nbsp;
                    </div>
                    <!--color-block end-->

                    <h4>White</h4>

                    <p class="mb-0">
                        <span class="text-uppercase asphalt">hex: #ffffff</span> <br>
                        <span class="text-uppercase asphalt">rgba: (255, 255, 255)</span> <br>
                    </p>
                </div>
                <!--WHITE col end-->
            </div>
        </div>
        <!--col-8 end-->

    </div>
    <!--general colors row end-->

    <!--spacer-->
    <div class="row ">
        <div class="col-12">
            <hr class="ds-hr">
        </div>
    </div>
    <!--spacer end-->

    <!--backgrounds row-->
    <div class="row" id="backgrounds-section">

        <!--col-4-->
        <div class="col-12 col-md-12 col-lg-4">
            <h2>Backgrounds</h2>
        </div>
        <!--col-4 end-->

        <!--col-8-->
        <div class="col-12 col-md-12 col-lg-8">
            <div class="row">

                <!--NIGHT col-->
                <div class="col-12 col-md-6 col-lg-3">
                    <!--color-block-->
                    <div class="color-block bg-night">
                        &nbsp;
                    </div>
                    <!--color-block end-->

                    <h4>Night</h4>

                    <p class="mb-0">
                        <span class="text-uppercase asphalt">hex: #1f435b</span> <br>
                        <span class="text-uppercase asphalt">rgb: (31, 67, 91)</span> <br>
                    </p>
                </div>
                <!--NIGHT col end-->

                <!--OCEAN col-->
                <div class="col-12 col-md-6 col-lg-3">
                    <!--color-block-->
                    <div class="color-block bg-ocean">
                        &nbsp;
                    </div>
                    <!--color-block end-->

                    <h4>Ocean</h4>

                    <p class="mb-0">
                        <span class="text-uppercase asphalt">hex: #388cc4</span> <br>
                        <span class="text-uppercase asphalt">rgb: (56, 140, 196)</span> <br>
                    </p>
                </div>
                <!--OCEAN col end-->

                <!--AIR col-->
                <div class="col-12 col-md-6 col-lg-3">
                    <!--color-block-->
                    <div class="color-block bg-air">
                        &nbsp;
                    </div>
                    <!--color-block end-->

                    <h4>Air</h4>

                    <p class="mb-0">
                        <span class="text-uppercase asphalt">hex: #e4eff5</span> <br>
                        <span class="text-uppercase asphalt">rgb: (228, 239, 245)</span> <br>
                    </p>
                </div>
                <!--AIR col end-->

                <!--WHITE col-->
                <div class="col-12 col-md-6 col-lg-3">
                    <!--color-block-->
                    <div class="color-block bg-white border">
                        &nbsp;
                    </div>
                    <!--color-block end-->

                    <h4>White</h4>

                    <p class="mb-0">
                        <span class="text-uppercase asphalt">hex: #ffffff</span> <br>
                        <span class="text-uppercase asphalt">rgba: (255, 255, 255)</span> <br>
                    </p>
                </div>
                <!--WHITE col end-->
            </div>
        </div>
        <!--col-8 end-->
    </div>
    <!--backgrounds row end-->

    <!--spacer-->
    <div class="row ">
        <div class="col-12">
            <hr class="ds-hr">
        </div>
    </div>
    <!--spacer end-->

    <!--overlays row-->
    <div class="row" id="overlays-section">

        <!--col-4-->
        <div class="col-12 col-md-12 col-lg-4">
            <h2>Overlays</h2>
        </div>
        <!--col-4 end-->

        <!--col-8-->
        <div class="col-12 col-md-12 col-lg-4">
            <div class="color-block">
                <div class="overlay overlay-image--blue"></div>
                <img src="./images/london.jpg" alt="">
            </div>
            <h4>Gradient Image Overlays</h4>
            <p class="description asphalt mb-0">
                Background: linear-gradient(to bottom, rgba(50, 122, 171, 1)0%, rgba(61, 176,
                240, 1)100%);
            </p>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
            <div class="color-block">
                <div class="overlay overlay-image--night"></div>
                <img src="./images/london.jpg" alt="">
            </div>
            <h4>Night Image Overlays</h4>
            <p class="description asphalt mb-0">
                Background: rgba(31, 67, 91, 0.8);
            </p>
        </div>
        <!--col-8 end-->
    </div>
    <!--overlays row end-->

    <!--spacer-->
    <div class="row ">
        <div class="col-12">
            <hr class="ds-hr">
        </div>
    </div>
    <!--spacer end-->

    <!--borders row-->
    <div class="row" id="borders-section">

        <!--col-4-->
        <div class="col-12 col-md-12 col-lg-4">
            <h2>Borders</h2>
        </div>
        <!--col-4 end-->

        <!--col-8-->
        <div class="col-12 col-md-12 col-lg-8">
            <div class="row">

                <!--NIGHT-BG col-->
                <div class="col-12 col-md-6 col-lg-3">
                    <!--color-block-->
                    <div class="color-block bg-night">
                        <div class="color-block-inner border">
                            &nbsp;
                        </div>
                    </div>
                    <!--color-block end-->

                    <h4>Stone</h4>

                    <p class="mb-0">
                        <span class="text-uppercase asphalt">Night background</span> <br>
                    </p>
                </div>
                <!--NIGHT-BG col end-->

                <!--OCEAN-BG col-->
                <div class="col-12 col-md-6 col-lg-3">
                    <!--color-block-->
                    <div class="color-block bg-ocean">
                        <div class="color-block-inner border">
                            &nbsp;
                        </div>
                    </div>
                    <!--color-block end-->

                    <h4>#3d96d1</h4>

                    <p class="mb-0">
                        <span class="text-uppercase asphalt">Ocean background</span> <br>
                    </p>
                </div>
                <!--OCEAN-BG col end-->

                <!--AIR-BG col-->
                <div class="col-12 col-md-6 col-lg-3">
                    <!--color-block-->
                    <div class="color-block bg-air">
                        <div class="color-block-inner border">
                            &nbsp;
                        </div>
                    </div>
                    <!--color-block end-->

                    <h4>White</h4>

                    <p class="mb-0">
                        <span class="text-uppercase asphalt">Air background</span> <br>
                    </p>
                </div>
                <!--AIR-BG col end-->

                <!--WHITE-BG col-->
                <div class="col-12 col-md-6 col-lg-3">
                    <!--color-block-->
                    <div class="color-block bg-white border">
                        <div class="color-block-inner border">
                            &nbsp;
                        </div>
                    </div>
                    <!--color-block end-->

                    <h4>Air</h4>

                    <p class="mb-0">
                        <span class="text-uppercase asphalt">White background</span> <br>
                    </p>
                </div>
                <!--WHITE-BG col end-->
            </div>
        </div>
        <!--col-8 end-->
    </div>
    <!--borders row end-->

    <!--spacer-->
    <div class="row ">
        <div class="col-12">
            <hr class="ds-hr">
        </div>
    </div>
    <!--spacer end-->

    <!--system row-->
    <div class="row pb-50" id="system-section">

        <!--col-4-->
        <div class="col-12 col-md-12 col-lg-4">
            <h2>System</h2>
        </div>
        <!--col-4 end-->

        <!--col-8-->
        <div class="col-12 col-md-12 col-lg-8">
            <div class="row">

                <!--SUCCESS col-->
                <div class="col-12 col-md-6 col-lg-3">
                    <!--color-block-->
                    <div class="color-block bg-success">
                        &nbsp;
                    </div>
                    <!--color-block end-->

                    <h4>Success/Yes</h4>

                    <p class="mb-0">
                        <span class="text-uppercase asphalt">hex: #00bb9a</span> <br>
                        <span class="text-uppercase asphalt">rgb: (0, 187, 154)</span>
                    </p>
                </div>
                <!--SUCCESS col end-->

                <!--WARNING col-->
                <div class="col-12 col-md-6 col-lg-3">
                    <!--color-block-->
                    <div class="color-block bg-warning">
                        &nbsp;
                    </div>
                    <!--color-block end-->

                    <h4>Warning</h4>

                    <p class="mb-0">
                        <span class="text-uppercase asphalt">hex: #ffb400</span> <br>
                        <span class="text-uppercase asphalt">rgb: (255, 180, 0)</span>
                    </p>
                </div>
                <!--WARNING col end-->

                <!--ERROR col-->
                <div class="col-12 col-md-6 col-lg-3">
                    <!--color-block-->
                    <div class="color-block bg-error ">
                        &nbsp;
                    </div>
                    <!--color-block end-->

                    <h4>Error/No</h4>

                    <p class="mb-0">
                        <span class="text-uppercase asphalt">hex: #f43659</span> <br>
                        <span class="text-uppercase asphalt">rgb: (244, 54, 89)</span>
                    </p>
                </div>
                <!--ERROR col end-->
            </div>
        </div>
        <!--col-8 end-->
    </div>
    <!--system row end-->
</template>
<!--COLORS-PAGE END-->

<script src="./colors.js"></script>