<!--ABOUT-THIS-SYSTEM-PAGE-->
<template id="about">
    <!--header row-->
    <div class="row pb-50">
        <header class="col-12 style-guide-header">
            <h1>About This System</h1>
        </header>
    </div>
    <!--header row end-->

    <!--first section row-->
    <div class="row" id="about-1-section">
        <!--col-4-->
        <div class="col-12 col-md-12 col-lg-4">
            <h2>The Need of Design System</h2>
        </div>
        <!--col-4 end-->

        <!--col-8-->
        <div class="col-12 col-md-12 col-lg-8">
            <div class="p-big">
                <p>In the past few years, creating new content on a website has become more and more
                    complex and time-consuming than before. There is much more demand for interesting,
                    interactive, and well-designed ways to display content.</p>
                <p>At the same time, building for the web has become much more difficult: complex
                    technologies, different devices, different screen sizes, different operating
                    systems, different browsers, and so on.</p>
                <p>If we want to keep up, we have to be able to publish new content easy, fast, and
                    with companies resources in mind. As INDUSTRIA matures, we need to operationalise
                    workflow, team coordination, and more.</p>
                <p>A design system unites people around a common visual language. It reduces friction,
                    design debt, accelerates the design and development processes.</p>
            </div>
            <a href="https://www.designbetter.co/design-systems-handbook/" class="solo-link external-link" target="_blank">
                More on design systems and how they work
            </a>
        </div>
        <!--col-8 end-->
    </div>
    <!--first section row end-->

    <!--spacer-->
    <div class="row ">
        <div class="col-12">
            <hr class="ds-hr">
        </div>
    </div>
    <!--spacer end-->

    <!--second section row-->
    <div class="row" id="about-2-section">
        <!--col-4-->
        <div class="col-12 col-md-12 col-lg-4">
            <h2>Why Not a Framework?</h2>
        </div>
        <!--col-4 end-->

        <!--col-8-->
        <div class="col-12 col-md-12 col-lg-8">
            <p class="p-big">
                In the last 5 years, we’ve tried many frameworks, themes and solutions. We’ve
                successfully executed many projects. The problem was, that every time something was
                wrong, something was a bit off, or not enough. The next lines from Atomic Design by
                Brad Frost explain perfectly our disappointment.
            </p>
            <blockquote class="paragraph-quote mb-0">
                <p>When everyone uses the same buttons, grids, dropdowns, and components, things
                    naturally start to look the same. If Nike, Adidas, Puma, and Reebok were to
                    redesign their respective sites using Bootstrap, they would look substantially
                    similar. That’s certainly not what these brands are going for. Sure, each brand can
                    modify and extend the default look and feel, but after a while customization means
                    fighting the framework’s given structure, style, and functionality.</p>
                <p>In addition to look-alike issues, these frameworks can add unnecessary bloat to an
                    experience. It’s fantastic that frameworks provide plenty of prebuilt components
                    and functionality, but a large percentage of designers and developers won’t adopt
                    every aspect of the framework. Unfortunately, users still have to download the
                    framework’s unused CSS and JavaScript, resulting in slower page loads and
                    frustration.</p>
                <p>On the flip side of that coin, frameworks might not go far enough, leading to
                    developers needing to create a substantial amount of custom code to achieve their
                    projects’ goals. At some point, a threshold is crossed where the initial benefits
                    of using a framework–namely development speed–are outweighed by the time spent
                    modifying, extending, and fixing the framework.</p>
            </blockquote>
        </div>
        <!--col-8 end-->
    </div>
    <!--second section row end-->

    <!--spacer-->
    <div class="row ">
        <div class="col-12">
            <hr class="ds-hr">
        </div>
    </div>
    <!--spacer end-->

    <!--third section row-->
    <div class="row" id="about-3-section">
        <!--col-4-->
        <div class="col-12 col-md-12 col-lg-4">
            <h2>The Methodology Behind the System</h2>
        </div>
        <!--col-4 end-->

        <!--col-8-->
        <div class="col-12 col-md-12 col-lg-8">
            <img src="./images/atomic-design-preview.png" alt="atomic-design">
            <p class="description asphalt">Illustration of the Atomic Design structure</p>
            <p class="p-big">Every system needs a system. After quite a research, we’ve come to the
                conclusion that Atomic Design by Brad Frost is closest to our perspective and
                understanding of how thing should be done. The following is a statement taken from the
                book itself:</p>
            <blockquote class="paragraph-quote">
                <p>Atomic Design details all that goes into creating and maintaining robust design
                    systems, allowing you to roll out higher quality, more consistent UIs faster than
                    ever before.</p>
            </blockquote>
            <p><a href="http://bradfrost.com/blog/post/atomic-web-design/" class="solo-link external-link" target="_blank">About
                    Atomic Design</a></p>
            <p class="mb-0"><a href="http://atomicdesign.bradfrost.com/table-of-contents/" class="solo-link external-link" target="_blank">The
                    book</a></p>
        </div>
        <!--col-8 end-->
    </div>
    <!--third section row end-->

    <!--spacer-->
    <div class="row ">
        <div class="col-12">
            <hr class="ds-hr">
        </div>
    </div>
    <!--spacer end-->

    <!--fourth section row-->
    <div class="row" id="about-4-section">
        <!--col-4-->
        <div class="col-12 col-md-12 col-lg-4">
            <h2>Minor Modification</h2>
        </div>
        <!--col-4 end-->

        <!--col-8-->
        <div class="col-12 col-md-12 col-lg-8">
            <p class="p-big mb-50">
                So naw that you are familiar with Atomic Design, you should now that we’ve build our
                system with some differences. The left list represents five distinct levels in Atomic
                Design. The right list is the modified structure.
            </p>
            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="standard-label asphalt mb-8">Atomic Design</p>
                    <ol class="mb-0">
                        <li><a href="http://bradfrost.com/blog/post/atomic-web-design/#atoms" target="_blank">Atoms</a></li>
                        <li><a href="http://bradfrost.com/blog/post/atomic-web-design/#molecules" target="_blank">Molecules</a></li>
                        <li><a href="http://bradfrost.com/blog/post/atomic-web-design/#organisms" target="_blank">Organisms</a></li>
                        <li><a href="http://bradfrost.com/blog/post/atomic-web-design/#templates" target="_blank">Templates</a></li>
                        <li><a href="http://bradfrost.com/blog/post/atomic-web-design/#pages" target="_blank">Pages</a></li>
                    </ol>
                </div>
                <div class="col-12 col-md-6">
                    <p class="standard-label asphalt mb-8">Industria dS</p>
                    <ol class="mb-0">
                        <li>Atoms</li>
                        <li>Molecules</li>
                        <li>Organisms</li>
                        <li>Templates</li>
                        <li>Pages</li>
                    </ol>
                </div>
            </div>
            <p class="p-big mt-48 mb-0">We’ve created this alternation for consistency and semantic reasons. As
                you can see in the first list, atoms and templates don’t really belong together from a
                semantic perspective. Second, we’ve added an additional level before the Atoms level.
                It is called the Environment level which all other levels use as a foundation. As you
                further explore the system, you will see how all parts fit together and where they
                belong.</p>
        </div>
        <!--col-8 end-->
    </div>
    <!--fourth section row end-->

    <!--spacer-->
    <div class="row ">
        <div class="col-12">
            <hr class="ds-hr">
        </div>
    </div>
    <!--spacer end-->

    <!--fifth section row-->
    <div class="row pb-50" id="about-5-section">
        <!--col-4-->
        <div class="col-12 col-md-12 col-lg-4">
            <h2>Further Reading</h2>
        </div>
        <!--col-4 end-->

        <!--col-8-->
        <div class="col-12 col-md-12 col-lg-8">
            <p><a href="http://styleguides.io/" class="solo-link external-link" target="_blank">pattern libraries, code
                    standards documents and content style guides</a></p>
            <p><a href="https://github.com/alexpate/awesome-design-systems" class="solo-link external-link" target="_blank">A
                    curated list of design system, pattern libraries, etc.</a></p>
            <p><a href="http://www.allitebooks.com/frontend-architecture-for-design-systems/" class="solo-link external-link" target="_blank">Frontend
                    Architecture for Design Systems (Book)</a></p>
            <p class="mb-0"><a href="https://www.designbetter.co/designops-handbook" class="solo-link external-link" target="_blank">DesignOps
                    Handbook</a></p>
        </div>
        <!--col-8 end-->
    </div>
    <!--fifth section row end-->
</template>
<!--ABOUT-THIS-SYSTEM-PAGE END-->

<script src="./about.js"></script>
