<!--LOGOS-PAGE-->
<template id="logos">
    <!--header row-->
    <div class="row pb-50">
        <header class="col-12 style-guide-header">
            <h1>Logos</h1>
        </header>
    </div>
    <!--header row end-->

    <!--monochrome logos row-->
    <div class="row" id="monochrome-logos-section">
        <!--col-4-->
        <div class="col-12 col-md-12 col-lg-4">
            <h2>Monochrome Logos</h2>
        </div>
        <!--col-4 end-->
        <!--col-8-->
        <div class="col-12 col-md-12 col-lg-8">
            <div class="p-big">
                <p>Most often we use logo lists to showcase our clients, partners, etc. These logos are
                    not interactive and usually are placed as a complementary item next to contextual
                    content in the same or previous/next section.</p>
                <p>When listin logos in grid - use 50/50 split layout. When using horisontal list -
                    show bellow content in <span style="color: #388CC4;">“single column” layouts</span>.</p>
                <p>Use SVG logos whenever possible. Don’t hesitate to contact a designer to help you.</p>
            </div>

            <!--color variations-->
            <div class="color-variations ">
                <div class="standard-label asphalt py-24">color variations</div>
                <div class="row ">
                    <div class="col-12 col-md-6 col-lg-2">
                        <div class="color-box bg-white border">
                            <h2 style="color: #AFC6D6;">1</h2>
                        </div>
                        <p class="pt-16"><span class="text-bold">Mist</span> <br>
                            White</p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-2">
                        <div class="color-box bg-air">
                            <h2 style="color: #79A6C4;">2</h2>
                        </div>
                        <p class="pt-16"><span class="text-bold">Asphalt</span> <br>
                            Air</p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-2">
                        <div class="color-box bg-ocean">
                            <h2 style="color: #FFFFFF;">3</h2>
                        </div>
                        <p class="pt-16"><span class="text-bold">White</span> <br>
                            Ocean</p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-2">
                        <div class="color-box bg-night">
                            <h2 style="color: #AFC6D6;">4</h2>
                        </div>
                        <p class="pt-16"><span class="text-bold">Mist</span> <br>
                            Night</p>
                    </div>
                </div>
            </div>
            <!--color variations end-->

        </div>
        <!--col-8 end-->
    </div>
    <!--monochrome logos row end-->

    <!--spacer-->
    <div class="row">
        <div class="col-12">
            <hr class="ds-hr">
        </div>
    </div>
    <!--spacer end-->

    <!--logos grid row-->
    <div class="row">

        <!--col-4-->
        <div class="col-12 col-md-12 col-lg-4">
            <!--section-label-->
            <div class="section-label asphalt">Grid</div>
            <!--section-label end-->
        </div>
        <!--col-4 end-->

        <!--col-8-->
        <div class="col-12 col-md-12 col-lg-8">

            <div class="row no-gutters">
                <div class="col-6 col-sm-6 svg-block-border--bottom">
                    <div class="block-with-svg svg-block-border--right">
                        <img class="svg" src="../../images/clients-logos/rbb.svg#rbb" title="Raiffeizen Bank Bulgaria" />
                    </div>
                </div>
                <div class="col-6 col-sm-6 svg-block-border--bottom">
                    <div class="block-with-svg">
                        <img class="svg uniqa" src="../../images/clients-logos/uniqa.svg#uniqa" title="Uniqa Bulgaria" />
                    </div>
                </div>
                <div class="col-6 col-sm-6 svg-block-border--bottom">
                    <div class="block-with-svg svg-block-border--right">
                        <img class="svg" src="../../images/clients-logos/ucb.svg#ucb" title="UCB" />
                    </div>
                </div>
                <div class="col-6 col-sm-6 svg-block-border--bottom">
                    <div class="block-with-svg">
                        <img class="svg eon" src="../../images/clients-logos/eon.svg#eon" title="eon" />
                    </div>
                </div>
                <div class="col-6 col-sm-6 svg-block--center">
                    <div class="block-with-svg block-un">
                        <img class="svg un" src="../../images/clients-logos/un.svg#un" title="United Nations" />
                    </div>
                </div>
            </div>

        </div>
        <!--col-8 end-->
    </div>
    <!--logos grid row end-->

    <!--spacer-->
    <div class="row ">
        <div class="col-12">
            <hr class="ds-hr">
        </div>
    </div>
    <!--spacer end-->

    <!--logos horizontal list row-->
    <div class="row pb-50">
        <!--col-12-->
        <div class="col-12">
            <!--section-label-->
            <div class="section-label asphalt">Horisontal List</div>
            <!--section-label end-->
        </div>
        <!--col-12 end-->
    </div>

    <div class="row no-gutters pb-50">
        <div class="col">
            <div class="block-with-svg svg-block-border--right">
                <img class="svg" src="../../images/clients-logos/rbb.svg#rbb" title="Raiffeizen Bank Bulgaria" />
            </div>
        </div>
        <div class="col">
            <div class="block-with-svg svg-block-border--right">
                <img class="svg" src="../../images/clients-logos/uniqa.svg#uniqa" title="Uniqa Bulgaria" />
            </div>
        </div>
        <div class="col">
            <div class="block-with-svg svg-block-border--right">
                <img class="svg" src="../../images/clients-logos/ucb.svg#ucb" title="UCB" />
            </div>
        </div>
        <div class="col">
            <div class="block-with-svg svg-block-border--right">
                <img class="svg eon" src="../../images/clients-logos/eon.svg#eon" title="eon" />
            </div>
        </div>
        <div class="col">
            <div class="block-with-svg svg-block-border--right">
                <img class="svg un" src="../../images/clients-logos/un.svg#un" title="United Nations" />
            </div>
        </div>
        <div class="col">
            <div class="block-with-svg">
                <img class="svg" src="../../images/clients-logos/tokuda-bank-logo.svg#Layer_1" title="Tokuda" />
            </div>
        </div>
    </div>
    <!--logos horizontal list row end-->

    <!--color logos row-->
    <div class="row py-50 bg-air border-left-2--white">
        <!--col-4-->
        <div class="col-12 col-md-12 col-lg-4" id="color-logos-section">
            <h2>Color Logos</h2>
        </div>
        <!--col-4 end-->
        <!--col-8-->
        <div class="col-12 col-md-12 col-lg-8">
            <div class="p-big">
                <p>We use colour logs when presenting detailed information about the related company,
                    technology, partner. We place those logos only on White or Air cards.</p>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="cards-wrapper">
                        <div class="card">
                            <div class="card-body">
                                <img class="svg corda-e" src="../../images/cordaenterpriselogo.svg#Layer_1" title="Industria Technology logotype" />
                                <span class="card-title">
                                    CORDA ENTERPRISE
                                </span>
                                <p class="card-text">
                                    A commercial distribution of Corda, specially designed for
                                    mission-critical and heavy-duty applications. It includes a
                                    proprietary Blockchain Application Firewall, support for Oracle and
                                    SQL Server Databases, 24/7 technical support, enhanced security,
                                    high availability, disaster recovery, high-performance modes, and
                                    many other features.</p>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <img class="svg" src="../../images/javascriptlogo.svg#Layer_1" title="Industria Technology logotype" />
                                <span class="card-title">
                                    javascrtipt
                                </span>
                                <p class="card-text">
                                    For FinTech founders, selecting the languages and frameworks that
                                    form your core product will have serious implications over the
                                    lifespan of the product. Therefore we have carefully chosen the two
                                    most recognised client-side JavaScript application platforms
                                    (Angular and React), that help us build fantastic
                                    functionality-rich client-side interfaces for desktop and mobile,
                                    in keeping with the best security practices for JavaScript.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--col-8 end-->
</template>
<!--LOGOS-PAGE END-->

<script src="./logos.js"></script>
