<!--GRID-PAGE-->
<template id="grid">

    <!--header row-->
    <div class="row pb-50">
        <header class="col-12 style-guide-header">
            <h1>Grid and Layout</h1>
        </header>
    </div>
    <!--header row end-->

    <div class="row" id="basic-structure-section">
        <!--col-4-->
        <div class="col-12 col-md-12 col-lg-4 pb-50">
            <h2>Basic Structure</h2>
        </div>
        <!--col-4 end-->

        <!--col-8-->
        <div class="col-12 col-md-12 col-lg-8">&nbsp;</div>
        <!--col-8 end-->
    </div>

    <!--full width grid row-->
    <div class="row ">

        <!--col-4-->
        <div class="col-12 col-md-12 col-lg-4">
            <!--section-label-->
            <div class="section-label asphalt">full width grid</div>
            <!--section-label end-->

            <div class="description asphalt mt-4">
                <p><i class="zmdi zmdi-info-outline"></i> We use 12 columns grid system with resizable
                    columns and fixed gutter and margins.</p>
            </div>
        </div>
        <!--col-4 end-->

        <!--col-8-->
        <div class="col-12 col-md-12 col-lg-8">
            <img width="100%" src="./images/layout-previews/general-grid.jpeg" alt="general-grid">
        </div>
        <!--col-8 end-->
    </div>
    <!--full width grid row end-->

    <!--spacer-->
    <div class="row ">
        <div class="col-12">
            <hr class="ds-hr">
        </div>
    </div>
    <!--spacer end-->

    <!--grid with side panel row-->
    <div class="row">

        <!--col-4-->
        <div class="col-12 col-md-12 col-lg-4">
            <!--section-label-->
            <div class="section-label asphalt">grid with side panel</div>
            <!--section-label end-->

            <div class="description asphalt mt-4">
                <p><i class="zmdi zmdi-info-outline"></i> A left or right side panel lives outside the
                    bounds of the grid, including the grid margins. When a side panel appears it pushes
                    the grid away from the outer edge of the browser window condensing the grid and
                    content area. The side panel is 330px fixed width. Margin is 15px, and gutter is
                    30px.</p>
            </div>
        </div>
        <!--col-4 end-->

        <!--col-8-->
        <div class="col-12 col-md-12 col-lg-8">
            <img width="100%" src="./images/layout-previews/gride-side-panel.jpg" alt="grid-side-panel">
        </div>
        <!--col-8 end-->
    </div>
    <!--grid with side panel row end-->

    <!--spacer-->
    <div class="row ">
        <div class="col-12">
            <hr class="ds-hr">
        </div>
    </div>
    <!--spacer end-->

    <div class="row" id="layout-section">
        <!--col-4-->
        <div class="col-12 col-md-12 col-lg-4 pb-50">
            <h2>General Layouts</h2>
        </div>
        <!--col-4 end-->

        <!--col-8-->
        <div class="col-12 col-md-12 col-lg-8">&nbsp;</div>
        <!--col-8 end-->
    </div>

    <!--50/50 split row-->
    <div class="row ">

        <!--col-4-->
        <div class="col-12 col-md-12 col-lg-4">
            <!--section-label-->
            <div class="section-label asphalt">50/50 Split</div>
            <!--section-label end-->

            <div class="description asphalt mt-4">
                <p><i class="zmdi zmdi-info-outline"></i> This is one of the most widely used layouts
                    in our websites. You can place any type of content. Each part is independent in
                    terms of content, as long as context is preserved.</p>
            </div>
        </div>
        <!--col-4 end-->

        <!--col-8-->
        <div class="col-12 col-md-12 col-lg-8">
            <img width="100%" src="./images/layout-previews/50-50-split.jpg" alt="50/50-split">
        </div>
        <!--col-8 end-->
    </div>
    <!--50/50 split row end-->

    <!--spacer-->
    <div class="row ">
        <div class="col-12">
            <hr class="ds-hr">
        </div>
    </div>
    <!--spacer end-->

    <!--50/50 single row-->
    <div class="row">

        <!--col-4-->
        <div class="col-12 col-md-12 col-lg-4">
            <!--section-label-->
            <div class="section-label asphalt">50/50 Single</div>
            <!--section-label end-->

            <div class="description asphalt mt-4">
                <p><i class="zmdi zmdi-info-outline"></i> This section is similar as the one above. Use
                    it to display related content. The right side would complement the left.</p>
            </div>
        </div>
        <!--col-4 end-->

        <!--col-8-->
        <div class="col-12 col-md-12 col-lg-8">
            <img width="100%" src="./images/layout-previews/50-50-single.jpg" alt="50/50-single">
        </div>
        <!--col-8 end-->
    </div>
    <!--50/50 single row end-->

    <!--spacer-->
    <div class="row ">
        <div class="col-12">
            <hr class="ds-hr">
        </div>
    </div>
    <!--spacer end-->

    <!--left single column row-->
    <div class="row">

        <!--col-4-->
        <div class="col-12 col-md-12 col-lg-4">
            <!--section-label-->
            <div class="section-label asphalt">Left single column</div>
            <!--section-label end-->

            <div class="description asphalt mt-4">
                <p><i class="zmdi zmdi-info-outline"></i> Use this layout for descriptions, longer text
                    or content wich can’t be split into smaller parts.</p>
            </div>
        </div>
        <!--col-4 end-->

        <!--col-8-->
        <div class="col-12 col-md-12 col-lg-8">
            <img width="100%" src="./images/layout-previews/left-single-column.jpg" alt="left-single-column">
        </div>
        <!--col-8 end-->
    </div>
    <!--left single column row end-->

    <!--spacer-->
    <div class="row ">
        <div class="col-12">
            <hr class="ds-hr">
        </div>
    </div>
    <!--spacer end-->

    <!--centered, left aligned single column row-->
    <div class="row">

        <!--col-4-->
        <div class="col-12 col-md-12 col-lg-4">
            <!--section-label-->
            <div class="section-label asphalt">Centered, left aligned
                single column</div>
            <!--section-label end-->

            <div class="description asphalt mt-4">
                <p><i class="zmdi zmdi-info-outline"></i> Use this layout for pages like Privacy
                    Policy, Terms and Conditions, News or Blog articles.</p>
            </div>
        </div>
        <!--col-4 end-->

        <!--col-8-->
        <div class="col-12 col-md-12 col-lg-8">
            <img width="100%" src="./images/layout-previews/centered-left-aligned-single-column.jpg" alt="centered-left-aligned-single-column">
        </div>
        <!--col-8 end-->
    </div>
    <!--centered, left aligned single column row end-->

    <!--spacer-->
    <div class="row ">
        <div class="col-12">
            <hr class="ds-hr">
        </div>
    </div>
    <!--spacer end-->

    <!--centered single column row-->
    <div class="row">

        <!--col-4-->
        <div class="col-12 col-md-12 col-lg-4">
            <!--section-label-->
            <div class="section-label asphalt">Centered single column</div>
            <!--section-label end-->

            <div class="description asphalt mt-4">
                <p><i class="zmdi zmdi-info-outline"></i> Use this layout for sections with less
                    content. For example: subscribtion to newsletter, simple CTA section, etc. A
                    heading, short paragraph, and large button are enough to fill a section.</p>
            </div>
        </div>
        <!--col-4 end-->

        <!--col-8-->
        <div class="col-12 col-md-12 col-lg-8">
            <img width="100%" src="./images/layout-previews/centered-single-column.jpg" alt="centered-single-column">
        </div>
        <!--col-8 end-->
    </div>
    <!--centered single column row end-->

    <!--spacer-->
    <div class="row ">
        <div class="col-12">
            <hr class="ds-hr">
        </div>
    </div>
    <!--spacer end-->

    <!--triad row-->
    <div class="row">

        <!--col-4-->
        <div class="col-12 col-md-12 col-lg-4">
            <!--section-label-->
            <div class="section-label asphalt">Triad</div>
            <!--section-label end-->

            <div class="description asphalt mt-4">
                <p><i class="zmdi zmdi-info-outline"></i> Used for listing things like blog articles,
                    features, links, etc.</p>
            </div>
        </div>
        <!--col-4 end-->

        <!--col-8-->
        <div class="col-12 col-md-12 col-lg-8">
            <img width="100%" src="./images/layout-previews/triad.jpg" alt="triad">
        </div>
        <!--col-8 end-->
    </div>
    <!--triad row end-->

    <!--spacer-->
    <div class="row ">
        <div class="col-12">
            <hr class="ds-hr">
        </div>
    </div>
    <!--spacer end-->

    <!--quartet row-->
    <div class="row pb-50">

        <!--col-4-->
        <div class="col-12 col-md-12 col-lg-4">
            <!--section-label-->
            <div class="section-label asphalt">Quartet</div>
            <!--section-label end-->

            <div class="description asphalt mt-4">
                <p><i class="zmdi zmdi-info-outline"></i> Used for listing things like blog articles,
                    features, links, etc.</p>
            </div>
        </div>
        <!--col-4 end-->

        <!--col-8-->
        <div class="col-12 col-md-12 col-lg-8">
            <img width="100%" src="./images/layout-previews/quartet.jpg" alt="quartet">
        </div>
        <!--col-8 end-->
    </div>
    <!--quartet row end-->
</template>
<!--GRID-PAGE END-->
<script src="./grid.js"></script>